<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">

        <body>
            <br>
            <h2>Edit your Listings</h2>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a title
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripton</label>
                    <textarea type="text" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please write a short description about your listings
                    </div>
                </div>
                <div class="mb-3">
                    <p>Original Listing Image</p>
                    <img src="<%= originalImageUrl %>" alt="listing image">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" name="listing[image]" value="<%= listing.image %>" class="form-control">
                    <div class="invalid-feedback">
                        please Upload the image
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Please Enter the price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">country</label>
                        <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">location</label>
                    <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                    <div class="invalid-feedback">Location name should be valid</div>
                </div>
                <button class="btn btn-dark update-btn">Update</button>
            </form>
        </body>
    </div>
</div>